### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.gradle/7.4.1/executionHistory/executionHistory.bin
/.gradle/7.4.1/fileHashes/fileHashes.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.4.1/fileHashes/resourceHashesCache.bin
